/* #region general styles */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #23376c;
  background-color: #e1edf4;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion general styles */

/* #region container */
.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 124px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 75px;
  }
}
/* #endregion container */

/* #region header */
.header {
  width: 100%;
}
.header-contacts-con {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #23376c;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #e1edf4;
}
.header-subtitle,
.header-text,
.header-photo-con,
.header-list,
.mobil-version-list {
  display: none;
}
.header-title {
  font-weight: 600;
  font-size: 20px;
  color: #e1edf4;
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
}
.burger-icon {
  fill: #e1edf4;
}
@media screen and (min-width: 768px) {
  .burger-btn,
  .mobil-version-subtitle,
  .mobil-version-text,
  .mobil-version-photo {
    display: none;
  }
  .header {
    display: flex;
    background-color: #23376c;
    justify-content: space-between;
  }
  .header-photo-con {
    display: block;
    flex-shrink: 0;
  }
  .header-contacts-con {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 30px;
  }
  .header-photo {
    height: 158px;
  }
  .header-title {
    font-weight: 600;
    font-size: 30px;
  }
  .header-subtitle {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: #e1edf4;
    padding-bottom: 6px;
  }
  .header-text {
    display: block;
    font-weight: 200;
    font-size: 14px;
    text-align: right;
    color: #e1edf4;
    max-width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    background-color: #23376c;
    justify-content: space-between;
  }
  .header-photo-con {
    display: block;
    flex-shrink: 0;
  }
  .header-contacts-con {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 30px;
  }
  .header-photo {
    height: 210px;
  }
  .header-title {
    font-weight: 600;
    font-size: 36px;
    text-align: right;
    padding-bottom: 14px;
  }
  .header-subtitle {
    display: block;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    padding-bottom: 14px;
  }
  .header-text {
    display: block;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.33333;
    text-align: right;
    color: #e1edf4;
    max-width: 100%;
    padding-bottom: 6px;
  }
  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header-link {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .header-icon-container {
    width: 20px;
    height: 20px;
    background-color: #e1edf4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-icon {
    fill: #23376c;
  }
  .header-link-text {
    font-weight: 200;
    font-size: 16px;
    text-align: right;
    color: #e1edf4;
  }
  .header-link:hover .header-icon-container {
    background-color: #578ac7;
  }

  .header-link:hover .header-icon {
    fill: #e1edf4;
  }

  .header-link:hover .header-link-text {
    color: #578ac7;
  }
}
@media screen and (min-width: 1440px) {
  .header-contacts-con {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 30px;
  }
  .header-photo {
    height: 300px;
  }
  .header-title {
    font-weight: 600;
    font-size: 48px;
    text-align: right;
    padding-bottom: 20px;
  }
  .header-subtitle {
    font-weight: 200;
    font-size: 32px;
    text-align: right;
    padding-bottom: 20px;
  }
  .header-text {
    font-weight: 200;
    font-size: 20px;
    text-align: right;
    max-width: 100%;
    padding-bottom: 20px;
  }
  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header-link {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .header-icon-container {
    width: 24px;
    height: 24px;
    background-color: #e1edf4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-icon {
    fill: #23376c;
  }
  .header-link-text {
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #e1edf4;
  }
}
/* #endregion header */

/* #region mobile menu */
.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobil-menu:not(.is-open) .mobil-menu-container {
  transform: translate(-50%, -50%) scale(1.5);
}
.mobil-menu-container {
  position: relative;
  padding: 80px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.mobile-menu-close-btn {
  border-radius: 10px;
  background-color: #e7e9fc;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu-title {
  font-weight: 600;
  font-size: 24px;
  color: #23376c;
  margin-bottom: 40px;
}
.mobil-menu-subtitle {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.mobil-menu-text {
  font-weight: 200;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #23376c;
  margin-bottom: 80px;
}
.mobil-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-right: auto;
}
.mobil-menu-item {
  display: flex;
}
.mobil-menu-link {
  display: flex;
  gap: 10px;
  align-items: center;
}
.mobil-menu-icon-container {
  width: 32px;
  height: 32px;
  background-color: #23376c;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobil-menu-icon {
  fill: #e1edf4;
}
.mobil-menu-link-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.66667;
  color: #23376c;
  font-style: normal;
  display: flex;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu-link:hover .mobil-menu-icon-container {
  background-color: #578ac7;
}
.mobil-menu-link:hover .mobil-menu-icon {
  fill: #e1edf4;
}
.mobil-menu-link:hover .mobil-menu-link-text {
  color: #578ac7;
}
/* #endregion mobile menu */

/* #region mobile */
.mobil-version {
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobil-version-subtitle {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #23376c;
  margin-bottom: 20px;
}
.mobil-version-text {
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  color: #23376c;
  margin-bottom: 20px;
  max-width: 280px;
  letter-spacing: -0.01em;
}
@media screen and (min-width: 768px) {
  .mobil-version {
    padding: 15px 0;
    width: 100%;
    align-items: flex-end;
    padding-right: 30px;
  }
  .mobil-menu-icon {
    fill: #23376c;
    display: inline-block;
  }
  .mobil-version-icon-container {
    width: 20px;
    height: 20px;
    background-color: #e1edf4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23376c;
    flex-shrink: 0;
  }
  .mobil-version-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .mobil-version-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobil-version-icon {
    display: block;
    fill: #e1edf4;
  }
  .mobil-version-link-text {
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    color: #23376c;
  }
  .mobil-version-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #23376c;
    font-weight: 200;
    font-size: 16px;
  }
  .header-link:hover .header-icon-container {
    background-color: #578ac7;
  }
  .header-link:hover .header-icon {
    fill: #e1edf4;
  }
  .header-link:hover .header-link-text {
    color: #578ac7;
  }
  .mobil-version-link:hover .mobil-version-icon-container {
    background-color: #578ac7;
  }
  .mobil-version-link:hover .mobil-version-link-text {
    color: #578ac7;
  }
}
@media screen and (min-width: 1024px) {
  .mobil-version {
    display: none;
  }
}
/* #endregion mobile */

/* #region skills */
.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skill-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.skill-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #e1edf4;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  background-color: #23376c;
}
.skill-subtitle {
  font-weight: 700;
  font-size: 16px;
  color: #23376c;
  margin-bottom: 10px;
}
.skill-text {
  font-weight: 400;
  font-size: 14px;
  color: #23376c;
  margin-bottom: 20px;
}
.sidebar {
  display: none;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 124px;
  }
  .skill-subtitle {
    font-weight: 700;
    font-size: 22px;
    color: #23376c;
    margin-bottom: 10px;
  }
  .skill-text {
    font-weight: 400;
    font-size: 18px;
    color: #23376c;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .skill-container {
    padding: 0 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 1050px;
    align-items: stretch;
  }
  .skill-list-cover {
    display: flex;
    gap: 30px;
  }
  .skill-list {
    justify-content: flex-start;
  }
  .sidebar {
    display: block;
    width: 50px;
    background-color: #23376c;
  }
  .skill-title {
    font-weight: 700;
    font-size: 32px;
    color: #23376c;
    background-color: transparent;
  }
  .skill-subtitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .skill-text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
  .skil-item:last-child .skill-text {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .skill-container {
    width: 1440px;
    padding: 0 75px;
    padding-top: 30px;
  }
  .skill-subtitle {
    font-size: 22px;
  }
  .skill-text {
    font-size: 18px;
  }
}
/* #endregion skills */

/* #region project */
.project-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #e1edf4;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  background-color: #23376c;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .project-title {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #23376c;
    background-color: transparent;
    margin-bottom: 20px;
    font-size: 32px;
  }
}
/* #region nav */

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 15px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.nav-btn {
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #e1edf4;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-weight: 200;
  font-size: 12px;
  color: #23376c;
  cursor: pointer;
}
.nav-btn:hover,
.nav-btn:focus {
  background-color: #23376c;
  color: #e1edf4;
}
@media screen and (min-width: 768px) {
  .nav-list {
    row-gap: 30px;
    column-gap: 12px;
  }
  .nav-btn {
    padding: 8px 12px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-list {
    column-gap: 12px;
  }
  .nav-btn {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1440px) {
  .nav-list {
    column-gap: 12px;
  }
  .nav-btn {
    padding: 14px 18px;
    font-size: 18px;
    font-weight: 500;
  }
}
/* #endregion nav */

/* #region slide show */
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.slider-item {
  background: #e1edf4;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
  max-width: 500px;
}
.slider-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.slider-thumb {
  background: #e1edf4;
  border-radius: 8px;
  margin-bottom: 16px;
}
.slider-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8pxrem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider-images {
  display: flex;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}
.slider-images img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  flex-shrink: 0;
  overflow: hidden;
}
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  z-index: 10;
}
.slider-button.prev {
  left: 10px;
}
.slider-button.next {
  right: 10px;
}
@media screen and (min-width: 1024px) {
  .project-container {
    padding: 0;
    margin: 0 auto;
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .project-container {
    width: 1440px;
  }
  .slider-item {
    max-width: 600px;
  }
}
/* #endregion slide show */
/* #endregion project */

/* #region footer */
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #23376c;
  display: block;
  margin-top: 40px;
}
.footer-text {
  text-align: center;
  font-size: 12px;
  color: #e1edf4;
  padding: 20px 0;
}
/* #endregion footer */
