/* #region general styles */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #23376c;
  background-color: #e1edf4;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion general styles */

/* #region container */
.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 124px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 75px;
  }
}
/* #endregion container */

/* #region header */
.header-container {
  width: 100%;
  padding: 20px;
  background-color: #23376c;
}
.header-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.header-subtitle,
.header-text,
.header-photo,
.header-list,
.header-item,
.header-icon,
.header-link {
  display: none;
}
.header-title {
  font-weight: 600;
  font-size: 24px;
  color: #e1edf4;
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
}
.burger-icon {
  fill: #4d5ae5;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1440px) {
}
/* #endregion header */

/* #region mobile menu */
.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobil-menu:not(.is-open) .mobil-menu-container {
  transform: translate(-50%, -50%) scale(1.5);
}
.mobil-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close-btn {
  border-radius: 50%;
  background-color: #e7e9fc;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu-container {
  padding: 20px;
}
.mobil-menu-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.mobil-menu-subtitle {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.mobil-menu-text {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.mobil-menu-list {
  display: flex;
  column-gap: 26px;
  row-gap: 18px;
  flex-wrap: wrap;
  justify-content: right;
}
.mobil-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.mobil-menu-link {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu-icon {
  fill: #23376c;
  display: inline-block;
}
.mobil-menu-link:hover,
.mobil-menu-link:focus {
  color: #578ac7;
}
.mobil-nav {
  margin-bottom: auto;
}
.mobil-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobil-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobil-link:hover,
.mobil-link:focus {
  color: #404bbf;
}
.mobil-adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobil-adres-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobil-adres-link:hover,
.mobil-adres-link:focus {
  color: #4d5ae5;
}
.mobil-icon-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.mobil-icon-item {
  width: 40px;
  height: 40px;
}
.mobil-link-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-link-icon:hover,
.mobil-link-icon:focus {
  background-color: #404bbf;
}
.mobil-icon {
  fill: #f4f4fd;
}
.other {
  color: #404bbf;
}
.others {
  color: #4d5ae5;
}
/* #endregion mobile menu */

.photo-mob {
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photo-mob-subtitle {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #23376c;
  margin-bottom: 20px;
}
.photo-mob-text {
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  color: #23376c;
  margin-bottom: 20px;
  max-width: 280px;
  letter-spacing: -0.01em;
}

/* #region skills */
.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skill-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.skill-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #e1edf4;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  background-color: #23376c;
}
.skill-subtitle {
  font-weight: 700;
  font-size: 16px;
  color: #23376c;
  margin-bottom: 10px;
}
.skill-text {
  font-weight: 400;
  font-size: 13px;
  color: #23376c;
}
.sidebar {
  display: none;
}
.other {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 124px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 75px;
  }
}
/* #endregion skills */

/* #region nav */
.nav {
  max-width: 100%;
  margin-bottom: 20px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.nav-btn {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e1edf4;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-weight: 200;
  font-size: 10px;
  color: #23376c;
  cursor: pointer;
  margin-bottom: 12px;
}
.nav-btn:hover,
.nav-btn:focus {
  background-color: #23376c;
  color: #e1edf4;
}
/* #endregion nav */

/* #region project */
.project-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #e1edf4;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  background-color: #23376c;
}
/* #endregion project */

/* #region slide show */
.case-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.case-item {
  background: #e1edf4;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
  max-width: 600px;
  margin-bottom: 50px;
}

.case-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.case-thumb {
  background: #e1edf4;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.case-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
.case-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider-images {
  display: flex;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.5rem;
}
.slider-images img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  flex-shrink: 0;
  overflow: hidden;
}
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 10;
}
.slider-button.prev {
  left: 10px;
}
.slider-button.next {
  right: 10px;
}
/* #endregion slide show */

/* #region footer */
.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 50px;
  background-color: #23376c;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.footer-text {
  text-align: center;
  font-size: 12px;
  color: #e1edf4;
}

/* #endregion footer */
