.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--space-5);
  min-width: 0;
}

@media (min-width: 790px) {
  .container {
    padding: 0 var(--space-5);
  }
}
